.dropdownst-content,.dropdownct-content,.dropdownaj-content,.dropdownpds-content{visibility:hidden; width:0;height:0;}
.dropdownconv-content,.dropdownav-content,.dropdownla-content,.dropdownac-content,.dropdownaop-content {visibility:hidden; width:0;height:0;}
header{
    top:0;
}