<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
     
</head>
<body>

    <section class="feature-area section-gap" id="secvice">
        <div class="container"></div>
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Test</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <form method="post">
                    {% csrf_token %}
                    <label for="">Pays </label>
                    <input type="text" id="val" name="val" value="{{val}}"class="form-control"><br><br>
                    

                    <button type="submit">Validate</button><br><br>

                    <label for="">Output</label>
                    <input type="text" value="{{r}}" class="form-control">

                </form>
            </div>
        </div>
    </section>
</body>
</html>