<!DOCTYPE html>
<html lang="en" >
<head>
  {% load i18n %}
  <meta charset="UTF-8">
  <title>Historique</title>
  <script src="jquery-3.5.1.js"></script>
  {% load static %}
  <link rel="stylesheet" href={% static "css/table.css" %}>
  <link rel="stylesheet" href={% static "css/style.css" %}>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
   
  <!-- data table links -->
  <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script> <!-- ????-->
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
 
 

  <!-- search column-->
  <script src="https:../../media/js/jquery.js"></script>
  <script src="https:../../media/js/jquery.dataTables.js"></script>


<!--- export files -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.11.5/b-2.2.2/b-colvis-2.2.2/b-html5-2.2.2/b-print-2.2.2/datatables.min.css"/>
 
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.11.5/b-2.2.2/b-colvis-2.2.2/b-html5-2.2.2/b-print-2.2.2/datatables.min.js"></script>

<!-- toggle columns-->
<script src="http:../../media/js/jquery.js"></script>
<script src="http:../../media/js/jquery.dataTables.js"></script>
<link rel="stylesheet" href="http:../../media/css/jquery.dataTables.css">


<link rel="stylesheet" href={% static "css/designtable.css" %}>
<script>
   $(document).ready(function() {
        var table = $('#example').DataTable( {
          "bPaginate": false,
          language: {
        searchPlaceholder: "Rechercher dans l'historique"
    },
          /*export files*/ 
          "columnDefs": [ 
        
            {
                "targets": [0],
                'orderable': false,
            },
            
            {
                "targets": [1],
                'orderable': false,
            },
            
            {
                "targets": [2],
                'orderable': true,
                'type': 'date-euro',
            }
            ,
            
            {
                "targets": [3],
                'orderable': false,
            }
            
            
        ],
        order: [[2, 'desc']],
            dom: 'Blfrtip',
            lengthMenu: [
                [ 10, 25, 50, 100 ],
                [ '10', '25', '50', '100' ]
                ],
              buttons:[
           "copy", 'pdf', 'excel','print'
          ],
        "oLanguage": {
          "sSearch": "Rechercher" //search
        },
        "language": { "lengthMenu": "Afficher _MENU_", 
         "zeroRecords": "Aucun enregistrement trouvé", 
         "info": " ", 
         "paginate": {
            "previous": "<<",
            "next": ">>"  },
         "infoEmpty": " ",
         "infoFiltered": "" 
        }   
      } );
      /*
      .dataTables_wrapper .dataTables_info {visibility:hidden}*/   
      $('.buttons-excel span').html("<i class='fa fa-file-excel-o' aria-hidden='true'></i> <br> <span class='petit'>Excel</span>")
      $('.buttons-print span').html("<i class='fa fa-print' aria-hidden='true'></i>  <br> <span class='petit'>Editer</span>")
      $('.buttons-copy span').html("<i class='fa fa-clone' aria-hidden='true'></i>  <br> <span class='petit'>Copier</span>")
      $('.buttons-pdf span').html("<i class='fa fa-file-pdf-o' aria-hidden='true'></i>  <br> <span class='petit'>Pdf</span>")
        
      

        // DataTable
        var table = $('#example').DataTable();
     
        // Apply the filter
        table.columns().eq( 0 ).each( function ( colIdx ) {
            $( 'input', table.column( colIdx ).footer() ).on( 'keyup change', function () {
                table
                    .column( colIdx )
                    .search( this.value )
                    .draw();
            } );
        } );
    
      /***** show hide columns ****/
    
        $('a.toggle-vis').on( 'click', function (e) {
            e.preventDefault();
            $(this).toggleClass( "blue" )
            $(this).toggleClass( "grey" )
            // Get the column API object
            var column = table.column( $(this).attr('data-column') );
     
            // Toggle the visibility
            column.visible( ! column.visible() );
        } );
    
    
    } );
    
    


</script>

<style>
  tfoot th:last-child input{width:0; height:0; border-color: #fff;}
  tfoot th:nth-last-child(2) input {width:auto; height:auto; border-color: #ddd;}
  tfoot th:nth-last-child(2) input:focus {width:auto; height:auto; border-color: #ff8c00;;}

  .dataTables_wrapper .dataTables_length{
    color:#ff8c00;
    font-weight: 600;
    position: absolute;
    top:10%;
    left:25%;
  }
 table  a, table a:visited{
    color: #035096;
    text-decoration: none;
    font-weight: 500;
  }
  /*search data tabel + barre de recherche*/
  .dataTables_filter {position:relative; top:0px;}
  .dataTables_filter input{margin-top:15px;width: 80%;}
  .dataTables_filter label {color:#fff;}
  .header{
min-width:400px; 
background-color: #fff; 
margin:0 60px; 
font-size: 14px;
padding: 5px 10px;
color:#035096;
font-family: 'nunito';
}
@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap');
.header-text .name{color:#353839; top:-5px;position:relative;font-family: 'Saira Stencil One'; font-size: 18px;}
.header2{margin-top: 50px;}
tfoot{visibility: hidden;}
thead{visibility: hidden;}
.dataTables_wrapper .dataTables_info {visibility: hidden;}
.button2{background-color:#c11b17; border-color:#fff; width:20%;position:relative; left:10px ; color:#fff ; height:30px;border-radius:3px}
.button2:hover{opacity:0.85}
</style> 
</head>

  <body>

    <nav class="sidebar ">
      <header>
        <div class="image-text">
          <span class="image">
           <a href="#">  <img src={% static 'images/logo-removebg-preview.png' %} alt="logo">
        </a>
           </span>
          
           <div class="text header-text">
            {% if request.user.is_authenticated %}
                <span class="profession name">Sonatrach</span>
               
             {% endif %}
          </div>
          
        </div>
        <i class='bx bx-menu toggle'></i>
      </header>

      <div class="menu-bar">
        <div class="menu">
         
          <ul class="menu-link">
          

            <div class="droppdown">
              <li class="nav-link dropbtn ">
                <a  >
                  <i class='bx bx-file icon'></i>
                  <span class="text nav-text">Soit transmis</span>
                </a>
              </li>
              <div class="dropdownst-content">
                <a href="st_create"class='ast'><i class='bx bx-list-plus'></i> Ajouter </a>
                <a href="affiche_st"class='cst'><i class='bx bx-show-alt'></i> Consulter</a>
              </div>
            </div>
          

            
            <div class="droppdown">
              <li class="nav-link dropbtn ">
                <a>
                  <i class="fa fa-files-o icon" aria-hidden="true"></i>
                  <span class="text nav-text">Contrats</span>
                </a>
              </li>
              <div class="dropdownct-content">
                <a href="contrat_create" class='act'><i class='bx bx-list-plus'></i> Ajouter </a>
                <a href="affiche_contrat" class='cct'><i class='bx bx-show-alt'></i> Consulter</a>
              </div>
            </div>
           

        <li class="nav-link down">
          <a > 
            <i class='bx bx-folder-open icon'></i>
            <span class="text nav-text">Documents <br> Contractuels <i class='bx bxs-chevron-down dropdown-btn'></i> </span>
          </a>
        </li>

        <div class="drop-down">
        <ul class="dropdown-container hide ">
         
          <div class="droppdown1 sous-menu">
            <li class="dropbtn1">
              -  Convention de <br> détachement
            </li>
            <div class="dropdownconv-content">
              <a href="convention_create" class="a1"><i class='bx bx-list-plus'></i> Ajouter </a>
              <a href="affiche_convention"  class="a2"><i class='bx bx-show-alt'></i> Consulter</a>
            </div>
          </div>

          <div class="droppdown2 sous-menu">
            <li class="dropbtn2">
             -  Avenant
            </li>
            <div class="dropdownav-content ">
              <a href="avenant_create"  class="a4"><i class='bx bx-list-plus'></i> Ajouter </a>
              <a href="affiche_avenant"  class="a3"><i class='bx bx-show-alt'></i> Consulter</a>
            </div>
          </div>

          <div class="droppdown3 sous-menu">
            <li class="dropbtn3">
              -  Lettre accord
            </li>
            <div class="dropdownla-content">
              <a href="lettreAccord_create"  class="a5"><i class='bx bx-list-plus'></i> Ajouter </a>
              <a href="affiche_lettreAccord"  class="a6"><i class='bx bx-show-alt'></i> Consulter</a>
            </div>
          </div>

          <div class="droppdown4 sous-menu">
            <li class="dropbtn4">
              -  Accord
            </li>
            <div class="dropdownac-content">
              <a href="accord_create"  class="a7"><i class='bx bx-list-plus'></i> Ajouter </a>
              <a href="affiche_accord"  class="a8"><i class='bx bx-show-alt'></i> Consulter</a>
            </div>
          </div>

          <div class="droppdown5 sous-menu">
            <li class=" dropbtn5">
              -  Accord d'operation
            </li>
            <div class="dropdownaop-content">
              <a href="accordOperation_create"  class="a9"><i class='bx bx-list-plus'></i> Ajouter </a>
              <a href="affiche_accordOp"  class="a10"><i class='bx bx-show-alt'></i> Consulter</a>
            </div>
          </div>
          
        </ul>
      </div>
   

        <div class="droppdown">
          <li class="nav-link dropbtn ">
            <a>
              <i class="fa fa-balance-scale icon" aria-hidden="true"></i>
              <span class="text nav-text">Avis juridique</span>
            </a>
          </li>
          <div class="dropdownaj-content">
            <a href="avisJuridique_create"class='aaj'><i class='bx bx-list-plus'></i> Ajouter </a>
            <a href="affiche_avis" class='caj'><i class='bx bx-show-alt'></i> Consulter</a>
          </div>
        </div>


        <div class="droppdown">
          <li class="nav-link dropbtn ">
            <a>
              <i class='bx bx-pencil icon'></i>
              <span class="text nav-text">Points de situations</span>
            </a>
          </li>
          <div class="dropdownpds-content">
            <a href="pds_create" class='apds'><i class='bx bx-list-plus'></i> Ajouter </a>
            <a href="affiche_pds" class='cpds'><i class='bx bx-show-alt'></i> Consulter</a>
          </div>
        </div>
        <li class="nav-link navlink2">
          <a href="">
            <i class="fa fa-tachometer icon" aria-hidden="true"></i>
            <span class="text nav-text">Dashboard</span>
          </a>
        </li>
        <li class="nav-link navlink2">
          <a href="" style="background:whitesmoke;">
           <i class='bx bx-history icon'></i>
            <span class="text nav-text">Historique</span>
          </a>
        </li>
    
    </div>
  </div>
</nav>

<section class="home">
  <li class="link2 hide">Soit transmis</li>
  <li class="link3 hide">Contrats</li>
  <li class="link4 hide">Documents contractuels</li>
  <li class="link5 hide">Avis juridique</li>
  <li class="link6 hide">Points de situations</li>
  <li class="link7 hide">Dashboard</li>
  <li class="link8 hide">Historique</li>
  <li class="slink1 hide">Convention de détachement</li>
  <li class="slink2 hide">Avenant</li>
  <li class="slink3 hide">Lettre accord</li>
  <li class="slink4 hide">Accord</li>
  <li class="slink5 hide">Accord d'opérations</li>
 <header>
  <h1>  <i class="fa fa-balance-scale" aria-hidden="true"></i> Gestion des contrats d'associations</h1>
  <span class="nomprenom"><i class='bx bxs-user-circle '></i> {{ request.user.first_name }} {{ request.user.last_name }} <i class='bx bxs-down-arrow ' ></i></span>
</header>
<ul class="sous-header masquer">
  <li><a href="#"><i class='bx bx-log-out'></i>Deconnexion</li></a>
  <li><a href="#"><i class="fa fa-cog" aria-hidden="true"></i>Paramètres</li></a>
</ul>


 
<div class="container">
  <h3>Historique</h3>
  <div class="header">
    <a href=''> <i class='bx bx-home-alt icon'></i></a> /<a>Historique</a>  </div>
     <div class="entete">
      
     </div> 
     <div class="containertable">
      
       <table id="example" class="styled-table row-border hover" cellspacing="10px" width="100%">
	   </div>
    <thead>
        <tr>
            <th> </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
      {% language 'fr' %}
    
      {% if user.is_authenticated %}
      {% for h in hist1 %}
        <tr>
          <td><a href="#">{{ h.history_object }}</a></td>
          
          <td> {% if  h.history_type == '+' %}
            ajouté
            {% elif h.history_type == '~' %}
            modifié
            {% elif h.history_type == '-' %}
            supprimé
            {% endif %} </td>
            <td>  {{ h.history_date|date:'d F Y' }},  &emsp;{{ h.history_date|time:"H:i" }}</td>
          <td> {{ h.history_user.first_name }} {{ h.history_user.last_name }} </td>
        </tr>
        {% endfor %}
        {% for h2 in hist2 %}
        <tr>
          <td><a href="#">{{ h2.history_object }}</a></td>
         
          <td> {% if  h2.history_type == '+' %}
            ajouté
            {% elif h2.history_type == '~' %}
            modifé
            {% elif h2.history_type == '-' %}
            supprimé
            {% endif %} </td> 
            <td>  {{ h2.history_date|date:'d F Y' }},  &emsp;{{ h2.history_date|time:"H:i" }}</td>
          <td> {{ h2.history_user.first_name }} {{ h2.history_user.last_name }} </td>
        </tr>
        {% endfor %}
        {% for h3 in hist3 %}
        <tr>
          <td><a href="#">{{ h3.history_object }}</a></td>
          
          <td> {% if  h3.history_type == '+' %}
            ajouté
            {% elif h3.history_type == '~' %}
            modifié
            {% elif h3.history_type == '-' %}
            supprimé
            {% endif %} </td>
            <td>  {{ h3.history_date|date:'d F Y' }},  &emsp;{{ h3.history_date|time:"H:i" }}</td>
          <td> {{ h3.history_user.first_name }} {{ h3.history_user.last_name }} </td>
        </tr>
        {% endfor %}
        {% for h4 in hist4 %}
        <tr>
          <td><a href="#">{{ h4.history_object }}</a></td>
          
          <td> {% if  h4.history_type == '+' %}
            ajouté
            {% elif h4.history_type == '~' %}
            modifié
            {% elif h4.history_type == '-' %}
            supprimé
            {% endif %} </td>
            <td>  {{ h4.history_date|date:'d F Y' }},  &emsp;{{ h4.history_date|time:"H:i" }}</td>
          <td> {{ h4.history_user.first_name }} {{ h4.history_user.last_name }} </td>
        </tr>
        {% endfor %}
        {% for h5 in hist5 %}
        <tr>
          <td><a href="#">{{ h5.history_object }}</a></td>
          
          <td> {% if  h5.history_type == '+' %}
            ajouté
            {% elif h5.history_type == '~' %}
            modifié
            {% elif h5.history_type == '-' %}
            supprimé
            {% endif %} </td>
            <td>  {{ h5.history_date|date:'d F Y' }},  &emsp;{{ h5.history_date|time:"H:i" }}</td>
          <td> {{ h5.history_user.first_name }} {{ h5.history_user.last_name }} </td>
        </tr>
        {% endfor %}
        {% for h6 in hist6 %}
        <tr>
          <td><a href="#">{{ h6.history_object }}</a></td>
          
          <td> {% if  h6.history_type == '+' %}
            ajouté
            {% elif h6.history_type == '~' %}
            modifié
            {% elif h6.history_type == '-' %}
            supprimé
            {% endif %} </td>
            <td>  {{ h6.history_date|date:'d F Y' }},  &emsp;{{ h6.history_date|time:"H:i" }}</td>
          <td> {{ h6.history_user.first_name }} {{ h6.history_user.last_name }} </td>
        </tr>
        {% endfor %}
        {% for h7 in hist7 %}
        <tr>
          <td><a href="#">{{ h7.history_object }}</a></td>
          
          <td> {% if  h7.history_type == '+' %}
            ajouté
            {% elif h7.history_type == '~' %}
            modifié
            {% elif h7.history_type == '-' %}
            supprimé
            {% endif %} </td>
            <td>  {{ h7.history_date|date:'d F Y' }},  &emsp;{{ h7.history_date|time:"H:i" }}</td>
          <td> {{ h7.history_user.first_name }} {{ h7.history_user.last_name }} </td>
        </tr>
        {% endfor %}
        {% for h8 in hist8 %}
        <tr>
          <td><a href="#">{{ h8.history_object }}</a></td>
          
          <td> {% if  h8.history_type == '+' %}
            ajouté
            {% elif h8.history_type == '~' %}
            modifié
            {% elif h8.history_type == '-' %}
            supprimé
            {% endif %} </td>
            <td>  {{ h8.history_date|date:'d F Y' }},  &emsp;{{ h8.history_date|time:"H:i" }}</td>
          <td> {{ h8.history_user.first_name }} {{ h8.history_user.last_name }} </td>
        </tr>
        {% endfor %}
        {% for h9 in hist9 %}
        <tr>
          <td><a href="#">{{ h9.history_object }}</a></td>
          
          <td> {% if  h9.history_type == '+' %}
            ajouté
            {% elif h9.history_type == '~' %}
            modifié
            {% elif h9.history_type == '-' %}
            supprimé
            {% endif %} </td>
            <td>  {{ h9.history_date|date:'d F Y' }},  &emsp;{{ h9.history_date|time:"H:i" }}</td>
          <td> {{ h9.history_user.first_name }} {{ h9.history_user.last_name }} </td>
        </tr>
        {% endfor %}
        {% for 10 in hist10 %}
        <tr>
          <td><a href="#">{{ h10.history_object }}</a></td>
          
          <td> {% if  h10.history_type == '+' %}
            ajouté
            {% elif h10.history_type == '~' %}
            modifié
            {% elif h10.history_type == '-' %}
            supprimé
            {% endif %} </td>
            <td>  {{ h10.history_date|date:'d F Y' }},  &emsp;{{ h10.history_date|time:"H:i" }}</td>
          <td> {{ h10.history_user.first_name }} {{ h10history_user.last_name }} </td>
        </tr>
        {% endfor %}
       
        {%  endif  %} 
        {% endlanguage %}
    </tbody>
    <tfoot>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
    </tfoot>
</table>
</div>
</div>

</section>




<!-- partial -->
<script src={% static 'js/script.js' %}>
</script>
<script src={% static 'js/media.js' %}></script>
</body>
</html>

